body {
    background-image: url("");
}

h2 {
  color: 00bc8c;
  border-bottom: 0;
  text-align: center;
  z-index: 5;
}


img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    height: fit-content;
}

.tile {
    text-decoration: none;
    color: inherit;
    display: flex;
    margin: 10px;
}

a:hover .overlay {
    opacity: 1;
}

.popout {
  transition: transform .2s ease-in-out;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
}

.popout:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: .2s ease-in-out;
  background-color: #243447;
  border-radius: 15px;
  transform: scale(1.02);
}

.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* #resilience {
  color: #1f77b4;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out
}

#resilience:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
  cursor: pointer;
}

#food-webs {
  color: #1f77b4;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out
}

#food-webs:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
  cursor: pointer;
}


#study-area {
  color: #1f77b4;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out
}

#study-area:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
  cursor: pointer;
}

#blog {
  color: #1f77b4;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out
}

#blog:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
  cursor: pointer;
}

#resources {
    color: #1f77b4;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out
  }
  
#resources:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
    cursor: pointer;
  } */